@media (max-width: 767px){
	
	section.home-sec-1 .box-content{
	     padding-left: 0 !important;
	     padding-right: 0 !important;
	}
	.row{
		margin: 0 -15px;
	}
    .container, .container2,
	.prelative.container{
		padding-left: 15px;
		padding-right: 15px;
	}
	section.home-sec-1 .box-content-image {
        left: 0px;
    }
    section.home-sec-1 .box-content-image {
        left: 0px;
    }
    section.home-sec-1 .box-content .title {
        left: 0px;
    }
    section.home-sec-1 .box-content .number .images {
        left: 0px;
    }
    section.home-sec-1 .box-content .number h5 {
        left: 0px;
    }
    section.home-sec-1 .box-content .title {
        left: 0px;
    }
    section.home-sec-2 .box-content .title {
        left: 0px;
	}
	section.home-sec-2 .box-content-image {
		right: 0px;
		top: 0;
	}
    section.home-sec-2 .box-content .number .images {
        left: 0px;
    }
    section.home-sec-2 .box-content .number h5 {
        left: -10px;
    }
    section.home-sec-3 .no {
        left: 0px;
    }
    section.home-sec-3 .logo-home {
        left: 0px;
    }
    section.home-sec-3 h3 {
        left: 0px;
    }
    section.home-sec-3 p {
        left: 0px;
    }
    section.home-sec-3 .row.atas {
        left: 0px;

    }
    section.home-sec-3 .row.bawah {
        left: 0px;
    }
    section.home-sec-3 .row.atas .box-content-atas p {
        left: 0px;
    }
    section.home-sec-3 .row.bawah .box-content-bawah p {
        left: 0px;
    }
    section.home-sec-4 {
        padding-top: 75px;
    }
    section.home-sec-4 .image {
        position: absolute;
        left: 0px;
    }
    section.home-sec-4 .box-content {
        left: 0px;
        top: 150px;
    }
    footer.foot .lefts_cont {
        left: 0px;
    }
    footer.foot .blocks_copyrightsBtm p {
        left: 0px;
    }
    .pc_banner {
        left: 0px;
    }

    
    // ----- New Editing -----

    .headers_menuapp{
        display: none;
    }
    .outer_contents{
        padding-left: 0;
    }
    section.home-sec-1 .box-content .number{
        padding-top: 1.5rem;
    }

    .blocks_headermobile{
        nav.navbar{
            a.navbar-brand{
                img{}
                max-width: 150px;
            }

            button.navbar-toggler{
                border: 0px;
                border-radius: 0px;
                padding-right: 0;
            }

            border-bottom: 5px solid #19204e;
            clear: both;
        }
        clear: both;
    }

    .blocks_bottomn_wa_fcs{
        display: none;
    }

    #myCarousel_home.carousel .carousel-inner .carousel-caption.caption-slider-home .bxsl_tx_fcs .content h2{
        font-size: 32px;
        padding-bottom: 1rem;
    }
    #myCarousel_home.carousel .carousel-inner .carousel-caption.caption-slider-home .bxsl_tx_fcs .content h4{
        font-size: 22px;
    }
    #myCarousel_home.carousel {
        .carousel-inner{

            .carousel-item{
                background-position: center center;
            }
            .carousel-caption.caption-slider-home{
                top: 4rem;
            }
        }
        clear: both;
    }

}


@media screen and (max-width: 767px) {
    
    #myCarousel_home.carousel .carousel-inner .carousel-caption.caption-slider-home{
        padding-left: 15px;
    }
    .blocks_bottomn_scroll_fcs{
        display: none !important;
    }

    .blocks_bottom_mobfcs_fcn{
        position: fixed;
        bottom: 0px;
        left: 0px;
        width: 100%; 
        min-height: 10px;
        height: auto;
        z-index: 60;
        background-color: #192152;
        padding: 0.5rem 0;
        .brd_rght{
            border-right: 1px solid #fff;
        }
        .inners_texts{
            display: block;
            padding: 0.4rem 0;
            a{
                i.fa{
                    font-size: 14px;
                    font-weight: 700; color: #fff;
                }
                color: #fff;
                font-size: 14px;
                font-weight: 700;
                text-decoration: none;
            }
            text-align: center;
            position: relative;
            clear: both;
        }
        clear: both;
    }
    .blocks_headermobile nav.navbar button.navbar-toggler{
        padding-right: 10px !important;
    }
    body{
        overflow-x: hidden;
    }
    .insides_wrapper_pagein{
        padding: 0;
        padding-top: 120px;
    }
    .insides.py-5 .inners_logo.pb-5{
        display: none;
    }
    .outers_list_def_articles .items .picture img{
        width: 100%;
    }
    footer.foot .lefts_cont .blocks_menu ul li{
        margin: 0.15rem 0;
    }
    section.blocks2-bottomcontact form .form-group textarea,
    section.blocks2-bottomcontact form .form-group input{
        border-radius: 0;
    }
    section.form-sec-2 .insides_row h3{
        font-size: 16px;
    }
    footer.foot .lefts_cont{
        padding-top: 0 !important;
    }

    footer.foot .blocks_copyrightsBtm,
    footer.foot .lefts_cont{
        padding-left: 0 !important;
        margin-left: 0 !important;
    }
    footer.foot .pc_banner{
        left: inherit;
        top: inherit;
        margin-top: 2rem;
    }
    .pc_banner, footer.foot .blocks_copyrightsBtm p, footer.foot .lefts_cont{
        left: inherit !important;
    }
    .row.no-gutters{
        margin: 0px;
    }
    footer.foot .lefts_cont .blocks_menu ul{
        display: none;
    }
    footer.foot .lefts_cont .blocks_menu{
        padding: 0px !important;
        border-bottom:0px !important;
    }
    footer.foot .blocks_copyrightsBtm{
        position: relative;
        left: inherit; bottom: inherit;
        padding: 0 15px !important;
    }
    footer.foot .blocks_copyrightsBtm p{
        top: inherit !important;
    }
    footer.foot .lefts_cont .blocks_socmed{
        margin-bottom: 2rem !important;
    }

    section.home-sec-4 .image{
        position: relative;
        left: inherit;
    }
    section.home-sec-4 .box-content{
        left: 0;
        top: inherit;
        padding: 2rem 15px;
        right: inherit;
    }
    section.home-sec-4 .box-content p,
    section.home-sec-4 .box-content h3{
        max-width: inherit;
    }

    section.home-sec-4 .box-content button.inquire,
    section.home-sec-4 .box-content button.wa{
        display: inline-block;
        padding: 0.3rem 0.3rem;
        width: 46%;
        height: auto;
        margin-right: 0.5rem;

        position: relative;
        text-align: center;
        a{
            font-size: 9px;
        }
    }
    section.home-sec-4 .box-content button.inquire img,
    section.home-sec-4 .box-content button.wa img{
        max-width: 18px;
        margin-right: 5px;
        position: relative;
        top: -3px;
    }
    .blocking-custom.top-custom.full_custom2 .pons_abos_full{
        bottom: 0;
    }

    section.insides_wrapper_pagein.prelatife.custompg section.customclearance-2 .box-content .images{
        top: inherit;
        max-width: 100%;
    }
    .box-content-contact .nx_box_adress{
        padding-left: 0 !important;
    }

}