@media (max-width: 767px){
	
	section.home-sec-1 .box-content{
	     padding-left: 0 !important;
	     padding-right: 0 !important;
	}
	.row{
		margin: 0 -15px;
	}
    .container, .container2,
	.prelative.container{
		padding-left: 15px;
		padding-right: 15px;
	}
	section.home-sec-1 .box-content-image {
        left: 0px;
    }
    section.home-sec-1 .box-content-image {
        left: 0px;
    }
    section.home-sec-1 .box-content .title {
        left: 0px;
    }
    section.home-sec-1 .box-content .number .images {
        left: 0px;
    }
    section.home-sec-1 .box-content .number h5 {
        left: 0px;
    }
    section.home-sec-1 .box-content .title {
        left: 0px;
    }
    section.home-sec-2 .box-content .title {
        left: 0px;
	}
	section.home-sec-2 .box-content-image {
		right: 0px;
		top: 0;
	}
    section.home-sec-2 .box-content .number .images {
        left: 0px;
    }
    section.home-sec-2 .box-content .number h5 {
        left: -10px;
    }
    section.home-sec-3 .no {
        left: 0px;
    }
    section.home-sec-3 .logo-home {
        left: 0px;
    }
    section.home-sec-3 h3 {
        left: 0px;
    }
    section.home-sec-3 p {
        left: 0px;
    }
    section.home-sec-3 .row.atas {
        left: 0px;

    }
    section.home-sec-3 .row.bawah {
        left: 0px;
    }
    section.home-sec-3 .row.atas .box-content-atas p {
        left: 0px;
    }
    section.home-sec-3 .row.bawah .box-content-bawah p {
        left: 0px;
    }
    section.home-sec-4 {
        padding-top: 75px;
    }
    section.home-sec-4 .image {
        position: absolute;
        left: 0px;
    }
    section.home-sec-4 .box-content {
        left: 0px;
        top: 150px;
    }
    footer.foot .lefts_cont {
        left: 0px;
    }
    footer.foot .blocks_copyrightsBtm p {
        left: 0px;
    }
    .pc_banner {
        left: 0px;
    }

    
    // ----- New Editing -----

    .headers_menuapp{
        display: none;
    }
    .outer_contents{
        padding-left: 0;
    }
    section.home-sec-1 .box-content .number{
        padding-top: 1.5rem;
    }

    .blocks_headermobile{
        nav.navbar{
            a.navbar-brand{
                img{}
                max-width: 150px;
            }

            button.navbar-toggler{
                border: 0px;
                border-radius: 0px;
                padding-right: 0;
            }

            border-bottom: 5px solid #19204e;
            clear: both;
        }
        clear: both;
    }

    .blocks_bottomn_wa_fcs{
        display: none;
    }

    #myCarousel_home.carousel .carousel-inner .carousel-caption.caption-slider-home .bxsl_tx_fcs .content h2{
        font-size: 32px;
        padding-bottom: 1rem;
    }
    #myCarousel_home.carousel .carousel-inner .carousel-caption.caption-slider-home .bxsl_tx_fcs .content h4{
        font-size: 22px;
    }
    #myCarousel_home.carousel {
        .carousel-inner{

            .carousel-item{
                background-position: center center;
            }
            .carousel-caption.caption-slider-home{
                top: 4rem;
            }
        }
        clear: both;
    }

}
