@media (max-width: 1280px){
    header.header .prelative.header-cont .row ul.menu-atas li {
        display: inline;
        padding: 0 5px;
    }
    header.header .prelative.header-cont .row ul.menu-atas {
        padding-top: 15px;
        list-style: none;
        margin-right: 0;
        position: relative;
        display: block;
        text-align: right;
    }
    header.header .prelative.header-cont .row .menu-icon .hr-ver {
        display: inline-block;
        width: 1px;
        height: 60px;
        background: #e6ebee;
        position: relative;
        top: -5px;
        margin: 0 5px;
    }
    .searchs_boxprd form .form-group input {
        border-radius: 0;
        border: 0;
        border-bottom: 1px solid #b0b0b0;
        max-width: 160px;
        font-family: Montserrat,sans-serif;
    }
    section.home-sec-1 {
        padding-top: 180px;
    }
 
}
@media (max-width: 767px){
    section.home-sec-1 .title-top p {
        font-size: 25px;
        color: #505050;
        font-weight: 700;
    }
    section.home-sec-2 .title p {
        text-align: center;
        font-size: 25px;
        color: #505050;
        font-weight: 700;
    }
    section.home-sec-1 .title {
        padding-top: 20px;
    }
    section.home-sec-1 .lihat_kat {
        text-align: center;
        padding-bottom: 50px;
    }
    section.home-sec-2 .box-content .lihat {
        text-align: center;
        padding-bottom: 40px;
    }
    section.home-sec-3 .title p {
        color: #fff;
        font-size: 22px;
        font-weight: 700;
        text-align: center;
    }
    section.home-sec-3 .download a {
        text-decoration: none;
        background: #2b275c;
        padding: 10px 25px;
        font-size: 13px;
        color: #fff;
    }
    section.home-sec-4 {
        padding-top: 65px;
    }
    section.home-sec-4 .title {
        padding-bottom: 45px;
    }
    section.home-sec-4 .title p {
        font-size: 35px;
        color: #e77716;
        font-weight: 700;
        text-align: center;
    }
    section.home-sec-4 .box-content .kategori {
        padding-top: 25px;
        padding-bottom: 15px;
        text-align: center;
    }
    section.home-sec-4 .box-content .judul {
        padding-bottom: 50px;
        text-align: center; 
    }
    section.home-sec-4 .lihat-semua {
        text-align: center;
        margin-top: 20px;
    }
    section.home-sec-5 {
        background: url(../images/Layer-741.png);
        min-height: 600px;
        margin-top: 100px;
    }
    section.home-sec-5 .prelative.container form.fielddd input {
        background: 0 0;
        width: 350px;
        border: 0;
        border-bottom: 1px solid #969696;
        border-radius: 0;
    }
    section.home-sec-5 .prelative.container .title {
        padding-top: 90px;
        padding-bottom: 50px;
    }
    section.footer .box-sosmed {
        margin: 0 auto;
        padding-top: 60px;
        text-align: center;
    }
    section.footer .alamat p {
        padding-top: 10px;
        font-size: 12px;
        color: #fff;
    }
    section.footer .email p {
        font-size: 12px;
        color: #fff;
    }
    section.footer .open p {
        font-size: 12px;
        color: #fff;
    }
    section.footer {
        min-height: 675px;
    }
    section.footer-sec-2 .copy p {
        text-align: center;
        font-size: 11px;
        color: #000;
    }
    section.footer-sec-2 .by p a {
        font-size: 11px;
        color: #000;
        text-decoration: none;
    }
    section.footer-sec-2 .copy p {
        text-align: center;
        font-size: 11px;
        color: #000;
    }

    // PRODUK
    section.cover-prod {
        background: url(../images/Layer-56.jpg);
        min-height: 450px;
        position: relative;
    }
    section.prodhw-sec-1 .box-content .lihat {
        text-align: center;
        padding-bottom: 45px;
    }
    section.prodhw-sec-1 .lihat-semua {
        text-align: center;
        margin-top: 35px;
    }
    section.prodhw-sec-1 .atas-sendiri .tampilkan {
        font-size: 17px;
        font-weight: 700;
        color: #505050;
        text-align: center;
    }
    section.prodhw-sec-1 .atas-sendiri .urutkan {
        float: none;
        text-align: center;
    }
    section.prodhw-sec-1 .atas-sendiri .urutkan p {
        font-size: 17px;
        font-weight: 700;
        color: #505050;
    }
    section.home-sec-1.outers_product_indexs {
        padding-top: 6rem;
        padding-bottom: 2.5rem;
        clear: both;
    }
    

    // ABOUT
    section.about-1 .sub-section2 .back-blue .inner_section {
        padding: 85px 50px;
    }
    section.about-1.outer-content-page.back-cream{
        .py-5, .py-4, .py-3{
            padding: 1rem 0 !important;
        }
    }
    section.about-2.outer-content-page.backabout-3k{
        .py-5, .py-4, .py-3{
            padding: 1rem 0 !important;
        }
    }
    section.about-1 .atas {
        margin: 0 auto;
        display: block;
        max-width: 650px;
    }
    section.about-1 .c_commitment {
        margin-bottom: 200px;
        margin-top: 50px;
    }
    section.about-1 .c_commitment .subtitle {
        font-style: italic;
        font-size: 25px;
        color: #505050;
        text-align: center;
        max-width: 650px;
        margin: 0 auto;
        display: block;
    }
    section.about-1 .c_commitment p {
        max-width: 650px;
        margin: 0 auto;
        display: block;
        text-align: center;
    }
    section.about-2 .prelatife.container p {
        max-width: 650px;
        margin: 0 auto;
        display: block;
        font-size: 14px;
        color: #505050;
        line-height: 1.5;
    }
    section.about-2 .prelatife.container .sub-content-vision_mission p {
        max-width: 650px;
        margin: 0 auto;
        display: block;
    }

    // MITRA
    section.mitra-1 .prelatife.container {
        max-width: 750px;
    }
    section.mitra-1 .small-content p b {
        color: #2b275c;
        font-size: 18px;
    }
    section.mitra-1 .sub-section2 h3 {
        font-size: 21px;
        color: #2b275c;
        margin-bottom: 35px;
        font-weight: 700;
    }
    section.mitra-1 .sub-section2 p {
        font-size: 14px;
        color: #474747;
        margin-bottom: 25px;
    }
    section.mitra-1 .small-content {
        margin-bottom: 50px;
    }
    section.mitra-1.outer-content-page.back-cream{
        .py-5, .py-4, .py-3{
            padding: 1rem 0 !important;
        }
    }

    // DETAIL PRODUK
    section.prodhw-dt .title-top p {
        text-align: center;
        font-size: 24px;
        color: #505050;
        font-weight: 700;
    }
    section.prodhw-dt .box-content .lihat {
        text-align: center;
        padding-bottom: 35px;
    }
    section.breadcrumb-det .title p {
        font-size: 30px;
        font-weight: 700;
        color: #2b275c;
        margin-bottom: 10px;
        margin-top: 25px;
    }
    section.cover-proddet .prelative.container .title h4 {
        font-size: 30px;
        font-weight: 700;
        color: #fff;
    }
    section.cover-proddet .prelative.container .title p {
        font-size: 14px;
        color: #fff;
    }
    section.breadcrumb-det .row.no-gutters .prodisi p {
        font-size: 14px;
        color: #303030;
        font-weight: 600;
    }
    section.prodhw-dt {
        padding-bottom: 2.5rem;
    }

    // CONTACT US
    section.contact-1.outer-content-page.back-cream{
        .py-5, .py-4, .py-3{
            padding: 1.5rem 0 !important;
        }
    }
    section.contact-1 .sub-section2 .alamat {
        font-weight: 700;
        font-size: 15px;
    }
    .container {
        max-width: 750px;
    }

    // BLOG
    section.blog-1.outer-content-page.back-cream.blog-page{
        .py-5, .py-4, .py-3{
            padding: 1.5rem 0 !important;
        }
    }
    .pagination {
        display: none;
        padding-left: 0;
        list-style: none;
        border-radius: .25rem;
    }
    
}
@media (max-width: 450px){
    section.home-sec-1 {
        padding-top: 120px;
    }
    section.home-sec-1 .lihat_kat {
        text-align: center;
        padding-bottom: 45px;
    }
    section.home-sec-1 .title-top p {
        font-size: 19px;
        color: #505050;
        font-weight: 700;
        text-align: center;
    }
    section.home-sec-1 .title p {
        text-align: center;
        font-size: 18px;
        color: #2b275c;
        font-weight: 700;
    }
    section.home-sec-2 {
        padding-top: 50px;
    }
    section.home-sec-2 .title p {
        text-align: center;
        font-size: 19px;
        color: #505050;
        font-weight: 700;
    }
    section.home-sec-2 .box-content .lihat {
        text-align: center;
        padding-bottom: 30px;
    }
    section.home-sec-2 .lihat-semua {
        text-align: center;
        margin-top: 20px;
    }
    section.home-sec-3 {
        background: #e77716;
        margin-top: 150px;
        padding-bottom: 60px;
    }
    section.home-sec-3 .title {
        padding-top: 40px;
    }
    section.home-sec-3 .title p {
        color: #fff;
        font-size: 14px;
        font-weight: 700;
        text-align: center;
    }
    section.home-sec-3 .download {
        margin-top: 25px;
        text-align: center;
    }
    section.home-sec-3 .download a {
        text-decoration: none;
        background: #2b275c;
        padding: 10px 25px;
        font-size: 10px;
        color: #fff;
    }
    section.home-sec-4 {
        padding-top: 50px;
    }
    section.home-sec-4 .title p {
        font-size: 25px;
        color: #e77716;
        font-weight: 700;
        text-align: center;
    }
    section.home-sec-4 .title {
        padding-bottom: 30px;
    }
    section.home-sec-4 .box-content .kategori {
        padding-top: 20px;
        padding-bottom: 5px;
        text-align: center;
    }
    section.home-sec-4 .box-content .judul {
        padding-bottom: 45px;
        text-align: center;
    }
    section.home-sec-4 .box-content .judul a {
        font-size: 15px;
        color: #363636;
    }
    section.home-sec-4 .lihat-semua {
        text-align: center;
        margin-top: 10px;
    }
    section.home-sec-5 {
        background: url(../images/Layer-741.png);
        min-height: 480px;
        margin-top: 100px;
    }
    section.home-sec-5 .prelative.container form.fielddd input {
        background: 0 0;
        width: 150px;
        border: 0;
        border-bottom: 1px solid #969696;
        border-radius: 0;
    }
    section.home-sec-5 .prelative.container .title {
        padding-top: 50px;
        padding-bottom: 35px;
    }
    section.home-sec-5 .prelative.container .title p {
        text-align: center;
        font-size: 16px;
        color: #e77716;
        text-transform: uppercase;
        letter-spacing: 2px;
    }
    section.footer .image-top {
        padding-top: 50px;
        text-align: center;
    }
    section.footer .box-sosmed {
        margin: 0 auto;
        padding-top: 55px;
        text-align: center;
    }
    section.footer .alamat p {
        padding-top: 10px;
        font-size: 10px;
        color: #fff;
    }
    section.footer .email p {
        font-size: 10px;
        color: #fff;
    }
    section.footer .open p {
        font-size: 10px;
        color: #fff;
    }
    section.footer {
        min-height: 450px;
    }
    section.footer-sec-2 .by p, section.footer-sec-2 .copy p {
        text-align: center;
        font-size: 11px;
        color: #000;
    }
    section.footer-sec-2 .by p a {
        font-size: 11px;
        color: #000;
        text-decoration: none;
    }

    // PRODUK
    section.cover-prod .prelative.container3 .title h3 {
        font-size: 25px;
        font-weight: 700;
        color: #fff;
    }
    section.cover-prod .prelative.container3 .title p {
        font-size: 12px;
        color: #fff;
    }
    section.prodhw-sec-1 .atas-sendiri .tampilkan {
        font-size: 17px;
        font-weight: 700;
        color: #505050;
        text-align: center;
    }
    section.prodhw-sec-1 .atas-sendiri .urutkan p {
        font-size: 16px;
        font-weight: 700;
        color: #505050;
        text-align: center;
    }
    section.prodhw-sec-1 .atas-sendiri .urutkan {
        float: none;
    }

    // ABOUT
    section.cover-insides {
        display: table;
        vertical-align: middle;
        height: 100%;
        min-height: 380px;
        width: 100%;
        background: url(../images/Layer-56.jpg) center center no-repeat;
        background-size: cover;
        position: relative;
        margin-bottom: 30px;
    }
    section.cover-insides .begrond {
        display: table;
        vertical-align: middle;
        width: 100%;
        position: absolute;
        bottom: 0;
        right: 0;
        left: 0;
        background-color: #e77716c9;
        height: auto;
        padding: 2rem 0;
    }
    section.about-1 p {
        font-size: 13px;
        color: #727170;
    }
    section.about-1 .sub-section2 .back-blue .inner_section {
        padding: 75px 50px;
    }
    section.about-1 .c_commitment {
        margin-bottom: 200px;
        margin-top: 125px;
    }
    section.about-1 .c_commitment .subtitle {
        font-style: italic;
        font-size: 17px;
        color: #505050;
        text-align: center;
        max-width: 320px;
        margin: 0 auto;
        display: block;
    }
    section.about-1 .c_commitment p {
        max-width: 320px;
        margin: 0 auto;
        display: block;
        text-align: center;
    }
    section.about-2 .prelatife.container p {
        max-width: 320px;
        margin: 0 auto;
        display: block;
        font-size: 14px;
        color: #505050;
        line-height: 1.4;
        margin-bottom: 25px;
    }
    section.about-2.outer-content-page.backabout-3k{
        .pb-4, .py-4{
            padding-bottom: 1rem!important;
        }
    }
    section.about-2 .prelatife.container .sub-content-vision_mission h3 {
        font-size: 27px;
        font-weight: 700;
        font-style: italic;
        color: #a1a1a1;
        margin-bottom: 20px;
    }
    section.about-2 .prelatife.container .sub-content-vision_mission p {
        max-width: 320px;
        margin: 0 auto;
        display: block;
    }
    section.about-1 .atas {
        margin: 0 auto;
        display: block;
        max-width: 320px;
    }

    // MITRA
    section.mitra-1 .prelatife.container {
        max-width: 360px;
    }
    section.mitra-1 .sub-section2 h3 {
        font-size: 18px;
        color: #2b275c;
        margin-bottom: 35px;
        font-weight: 700;
    }
    section.mitra-1 .sub-section2 p {
        font-size: 12px;
        color: #474747;
        margin-bottom: 25px;
    }
    section.mitra-1 .small-content {
        margin-bottom: 35px;
    }
    section.mitra-1 .small-content p b {
        color: #2b275c;
        font-size: 15px;
    }

    // DETAIL PRODUK
    section.cover-proddet .prelative.container .title h4 {
        font-size: 28px;
        font-weight: 700;
        color: #fff;
    }
    section.cover-proddet .prelative.container .title p {
        font-size: 13px;
        color: #fff;
    }
    section.breadcrumb-det nav .back a p {
        font-size: 15px;
        font-weight: 700;
        color: #505050;
    }
    section.breadcrumb-det nav ol li {
        font-size: 15px;
        font-weight: 700;
        color: #505050;
        /* padding-bottom: 25px; */
    }
    section.breadcrumb-det nav ol li.active {
        font-size: 15px;
        font-weight: 700;
        color: #505050;
        /* padding-bottom: 35px; */
    }
    section.breadcrumb-det nav .back {
        float: left;
        position: relative;
        top: 0px;
    }
    section.breadcrumb-det nav ol li a {
        font-size: 15px;
        font-weight: 700;
        color: #505050;
        text-decoration: none;
    }
    section.breadcrumb-det nav .back a {
        font-size: 15px;
        font-weight: 700;
        color: #505050;
        text-decoration: none;
    }
    section.breadcrumb-det .title p {
        font-size: 25px;
        font-weight: 700;
        color: #2b275c;
        margin-bottom: 10px;
        margin-top: 30px;
    }
    section.breadcrumb-det .row.no-gutters .prodisi p {
        font-size: 12px;
        color: #303030;
        font-weight: 600;
    }
    section.prodhw-dt {
        padding-bottom: 1.5rem;
    }

    // BLOG
    section.blog-1 .sub-section2 h6 {
        font-size: 17px;
        margin-bottom: 10px;
        color: #333;
        font-weight: 700;
    }
    .pagination {
        display: none;
        padding-left: 0;
        list-style: none;
        border-radius: .25rem;
    }

    // CONTACT
    section.contact-1.outer-content-page.back-cream{
        .py-5, .py-4, .py-3{
            padding: 1rem 0 !important;
        }
    }
    section.contact-1 .sub-section2 .alamat {
        font-weight: 700;
        font-size: 12px;
    }
    section.contact-1 p {
        font-size: 14px;
        color: #505050;
        text-align: center;
    }
    .container {
        max-width: 360px;
    }
    section.contact-1 .sub-section2 p {
        color: #474747;
        font-weight: 500;
        margin-bottom: 20px;
    }
}