@import url('https://fonts.googleapis.com/css?family=Fira+Sans:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i&display=swap');
@fira : 'Fira Sans', sans-serif;

html{
    position: relative;
    background: #ffffff;
    font-family: @fira;
}
body{
    overflow-x: hidden;
}
div,
h1,h2,h3,h4,h5,h6,p,a{
    font-family: @fira;
    margin-bottom: 0;
}

.prelative.container{
    padding-left: 75px;
    padding-right: 75px;
}
.prelative.container{
    padding-left: 75px;
    padding-right: 75px;
}

section.home-sec-1{
    padding-top: 160px;
    .box-content-image{
        position: absolute;
        left: -45px;
    }
    .box-content{
        padding-top: 50px;
        .number{
            .images{
                position: relative;
                display: inline-block;
            }
            h5{
                font-size: 13px;
                color: #c89700;
                font-weight: 900;
                text-transform: uppercase;
                display: inline-block;
                margin-left: 20px;
                position: relative;
            }
        }
        .title{
            margin-left: 66px;
            h3{
                font-size: 37px;
                font-weight: 700;
                color: #182152;
                margin-top: 15px;
                u{
                    color: #c89700;
                }
            }
            p{
                font-size: 18px;
                font-weight: 300;
                color: #474747;
                margin-top: 20px;
                margin-bottom: 50px;
            }
            button.learn-more{
                border-radius: 25px;
                background-color: #ffffff;
                border-color: #182152;
                width: 150px;
                height: 40px;
                a{
                    color: #182152;
                    text-decoration: none;
                    font-size: 12px;
                    font-weight: 700;
                    text-transform: uppercase;
                }
            }
        }
    }
}

section.home-sec-2{
    padding-top: 300px;
    
    .box-content{
        .number{
            .images{
                position: relative;
                display: inline-block;
            }
            h5{
                font-size: 13px;
                color: #c89700;
                font-weight: 900;
                text-transform: uppercase;
                display: inline-block;
                padding-left: 20px;
                position: relative;
            }
        }
        .title{
            margin-left: 66px;
            h3{
                font-size: 37px;
                font-weight: 700;
                color: #182152;
                padding-top: 15px;
                u{
                    color: #c89700;
                }
            }
            p{
                font-size: 18px;
                font-weight: 300;
                color: #474747;
                padding-top: 20px;
                padding-bottom: 50px;
            }
            button.learn-more{
                border-radius: 25px;
                background-color: #ffffff;
                border-color: #182152;
                width: 150px;
                height: 40px;
                a{
                    color: #182152;
                    text-decoration: none;
                    font-size: 12px;
                    font-weight: 700;
                    text-transform: uppercase;
                }
            }
        }
    }

    .box-content-image{
        position: absolute;
        right: -70px;
        top: -40px;
    }
}

section.home-sec-3{
    padding-top: 240px;
    .no{
        position: relative;
        text-align: center;
        display: block;
        margin: 0 auto;
    }
    .logo-home{
        position: relative;
        text-align: center;
        display: block;
        margin: 0 auto;
        padding-top: 35px;
    }
    h3{
        position: relative;
        text-align: center;
        display: block;
        margin: 0 auto;
        font-size: 38px;
        font-weight: 700;
        color: #182152;
        padding-top: 35px;
    }
    p{
        position: relative;
        text-align: center;
        display: block;
        margin: 0 auto;
        max-width: 675px;
        font-size: 18px;
        font-weight: 300;
        color: #474747;
        padding-top: 25px;
        
    }
    .row.atas{
        max-width: 620px;
        margin: 0 auto;
        .box-content-atas{
            position: relative;
            text-align: center;
            display: block;
            margin: 0 auto;
            padding-top: 55px;
            p{
                font-size: 16px;font-weight: 900;color: #182152;
            }
        }
    }
    .row.bawah{
        max-width: 534px;
        margin: 0 auto;
        padding-top: 45px;
        .box-content-bawah{
            position: relative;
            text-align: center;
            display: block;
            margin: 0 auto;
            p{
                font-size: 16px;font-weight: 900;color: #182152
            }
        }
    }
}

section.home-sec-4{
    // padding-top: 280px;
    padding-top: 210px;
    .image{
        position: absolute;
        left: -75px;
    }
    .box-content{
        background-color: #f2f2f2;
        padding-left: 90px;
        margin-top: 60px;
        padding-top: 70px;
        position: absolute;
        right: -75px;
        padding-bottom: 29px;
        h3{
            font-size: 38px;
            font-weight: 700;
            color: #182152;
            padding-bottom: 20px;
        }
        p{
            font-size: 18px;
            font-weight: 300;
            color: #474747;
            padding-bottom: 25px;
            max-width: 697px;
        }
        button.wa{
            border-radius: 25px;
            background-color: #f2f2f2;
            border-color: #182152;
            width: 216px;
            height: 40px;
            margin-right: 10px;
            img{
                display: inline-block;
                margin-right: 10px;
            }
            a{
                color: #182152;
                text-decoration: none;
                font-size: 12px;
                font-weight: 700;
                text-transform: uppercase;
                display: inline-block;
            }
        }
        button.inquire{
            border-radius: 25px;
            background-color: #f2f2f2;
            border-color: #182152;
            width: 216px;
            height: 40px;
            margin-left: 10px;
            img{
                display: inline-block;
                margin-right: 10px;

            }
            a{
                color: #182152;
                text-decoration: none;
                font-size: 12px;
                font-weight: 700;
                text-transform: uppercase;
                display: inline-block;
            }
        }
    }
}


@media screen and (max-width: 450px){
	footer.foot .lefts_cont .blocks_socmed p span{
		display: block;
	}

	.insides_wrapper_pagein.pg_about .cover_inside,
	.insides_wrapper_pagein.custompg,
	section.insides_wrapper_pagein.prelatife.custompg section.customclearance-2,
	.insides_wrapper_pagein.freight_pg,
	.insides_wrapper_pagein.pg_reference,
	.insides_wrapper_pagein.blog_pg,
	.insides_wrapper_pagein.contact_pg{
		background: none !important;
	}
	.insides_wrapper_pagein .prelatife.container{
		padding: 0 15px !important;
	}

	.insides_wrapper_pagein .prelatife.container .insides.py-5{
		padding-top: 15px !important;
		padding-bottom: 0 !important;
	}
	.content-text h5{
		font-size: 18px !important;
	}
	.insides.py-5 .inners_logo.pb-5{
		padding-bottom: 20px !important;
	}
	.content-text p{
		font-size: 15px !important;
	}
	.blocking-custom.top-custom.full_custom2 .pons_abos_full{
		position: relative !important;
		padding: 0 15px !important;
	}
	.blocking-custom.top-custom .inners_text .ts_text p{
		margin-bottom: 50px !important;
	}
	section.blocking-custom.top-custom.full_custom2 .col-md-35.py-5{
		padding: 0 0 10px !important;
	}
	.blocking-custom.top-custom.full_custom2 .pons_abos_full h3{
		margin-top: 15px;
	}
	section.bottoms_about_cont .py-5{
		padding: 0 !important;
	}
	section.bottoms_about_cont .content-text.setcontent.pt2.px-5{
		padding: 10px 15px !important;
	}
	section.bottoms_about_cont .prelatife.container .col-md-30{
		padding: 0 !important;
	}
	footer.foot{
		padding-top: 100px !important;
	}
	.insides_wrapper_pagein.custompg .topspage_inside .insides .block-content h3{
		font-size: 20px !important;
	}
	section.insides_wrapper_pagein.prelatife.custompg section.customclearance-2 .box-content .images{
		position: relative !important;
		bottom: 0 !important;
		right: 0 !important;
	}
	section.home-sec-3{
		padding-top: 25px !important;
	}
	.insides_wrapper_pagein.freight_pg .topspage_inside .insides .block-content h3{
		font-size: 19px !important;
	}
	section.topspage_inside .py-5{
		padding: 0 !important;
	}
	section.home-sec-2.insides_pg {
		padding-top: 30px;
	}
	.box-content.px-4{
		padding: 0 !important;
	}
	ul.list-inline.mr-0.mb-0.lists_proj_client .list-inline-item:not(:last-child){
		display: inline-block;
	}
	.insides_wrapper_pagein.pg_reference .topspage_inside .insides .block-content h3{
		font-size: 21px !important;
	}
	.insides_wrapper_pagein.blog_pg .topspage_inside .insides .block-content h3{
		font-size: 21px !important;
	}
	.insides_wrapper_pagein.contact_pg .topspage_inside .insides .block-content h3{
		font-size: 21px !important;
	}
	.box-content-contact .nx_box_adress{
		padding: 0 15px !important;
	}
	.bloc-h200{
		height: 0 !important;
	}
	section.form-contact.blocks2-bottomcontact .py-5{
		padding: 10px 0 !important;
	}
	section.blocks2-bottomcontact .images{
		right: 0 !important;
		margin-top: 30px !important;
	}
	section.blocks2-bottomcontact{
		padding-bottom: 20px !important;
	}
	.col.text-right a.bts_close img{
		margin-right: 45px !important;
	}
}


@import 'subpage.less';
@import 'subpage2.less';
@import 'pandu.less';
@import 'media_ibnu.less';
