@import url('https://fonts.googleapis.com/css?family=Montserrat:400,500,600,700,700i,800,800i,900,900i&display=swap');
@mons: 'Montserrat', sans-serif;

.outer_contents{
	padding-bottom: 0;
	padding-left: 72px;
}

.headers_menuapp{
	position: fixed;
	left: 0px;
	top: 0px;
	z-index: 280;

	width: 72px;
	height: 100%;
	background-color: #f7f7f7;

	.tops_mnu-card{
		opacity: 0;
	}
	.menus_card{
		opacity: 0;
	}
}


.app-menu.headers_menuapp.opened{
	width: 420px;
	.triggers_menu{
		display: none;
	}

	.tops_mnu-card{
		background-color: #182152;
		padding: 0.8rem 0.9rem;
		opacity: 1;
	}

	.menus_card{
		opacity: 1;
		padding-top: 110px;
		max-width: 332px;

		.tops_card{
			font-family: @mons;
			font-size: 12px;
			font-weight: 900;
			color: #182152;
			letter-spacing: 1px;

			padding-left: 1rem;
			padding-bottom: 1rem;
			margin-bottom: 1rem;
			border-bottom: 2px solid #e2e2e2;
		}
		.middle_menu{
			padding-left: 1rem;
			ul{
				margin: 0;
				li{
					display: block;
					padding: 0.25rem 0;
					a{
						font-family: @fira;
						font-size: 17px;
						font-weight: 500;
						color: #182152;
					}
					a:hover,
					a:focus{
						text-decoration: none;
						color: #080F35;
					}
				}
				li:first-child{
					padding-top: 0;
				}
			}
			clear: both;
		}
		.blocks_md_wa{
			border-bottom: 2px solid #e2e2e2;
			border-top: 2px solid #e2e2e2;
			padding: 1rem 1rem;
			margin-bottom: 1rem;
			span{
				display: block;
				font-family: @fira;
				font-size: 16px;
				font-weight: 500;
				color: #182152;
			}
			a{
				font-size: 19px;
				font-weight: 700;
				color: #182152;
			}
			a:hover,
			a:focus{
				text-decoration: none;
				color: #182152;
			}
		}
		.socmeds-menu-left{
			a{
				i.fa{
					color: #00358d;
					font-size: 17px;
				}
			}
			a:hover,
			a:focus{
				text-decoration: none;
				color: #000;
				font-size: 17px;
			}
			padding-left: 1rem;
		}
		clear: both;
	}


}