@import url('https://fonts.googleapis.com/css?family=Montserrat:400,500,600,700,700i,800,800i,900,900i&display=swap');
@mons: 'Montserrat', sans-serif;

.outer_contents{
	padding-bottom: 0;
	padding-left: 72px;
}

.headers_menuapp{
	position: fixed;
	left: 0px;
	top: 0px;
	z-index: 280;

	width: 72px;
	height: 100%;
	background-color: #f7f7f7;

	.tops_mnu-card{
		opacity: 0;
	}
	.menus_card{
		opacity: 0;
	}
	.middle_menu{
		opacity: 0;
	}

	-webkit-transition: all 0.3s ease;
	-moz-transition: all 0.3s ease;
	-o-transition: all 0.3s ease;
	-ms-transition: all 0.3s ease;
	transition: all 0.3s ease;
}

html, body{
	position: relative;
 //    overflow: hidden;
}

.app-menu.headers_menuapp{
	// left: -350px;
	// margin-left: -350px;
}

.app-menu.headers_menuapp.opened {
  left: 100%;   /*or bottom, top, right*/
  margin-left: 0px; /*or bottom, top, right */
}
.app-menu.headers_menuapp.opened{
	width: 420px;

	-webkit-transition: all 0.3s ease;
	-moz-transition: all 0.3s ease;
	-o-transition: all 0.3s ease;
	-ms-transition: all 0.3s ease;
	transition: all 0.3s ease;
	position: absolute;
	left: 0; /*or bottom, top, right*/

	.triggers_menu{
		display: none;
	}

	.tops_mnu-card{
		background-color: #182152;
		padding: 0.8rem 0.9rem;
		opacity: 1;
	}

	.menus_card{
		opacity: 1;
		padding-top: 110px;
		max-width: 332px;

		.tops_card{
			font-family: @mons;
			font-size: 12px;
			font-weight: 900;
			color: #182152;
			letter-spacing: 1px;

			padding-left: 1rem;
			padding-bottom: 1rem;
			margin-bottom: 1rem;
			border-bottom: 2px solid #e2e2e2;
		}
		.middle_menu{
			padding-left: 1rem;

			opacity: 1;
			-webkit-transition: all 0.4s ease;
			-moz-transition: all 0.4s ease;
			-o-transition: all 0.4s ease;
			-ms-transition: all 0.4s ease;
			transition: all 0.4s ease;

			ul{
				margin: 0;
				li{
					display: block;
					padding: 0.25rem 0;
					a{
						font-family: @fira;
						font-size: 17px;
						font-weight: 500;
						color: #182152;
					}
					a:hover,
					a:focus{
						text-decoration: none;
						color: #080F35;
					}
				}
				li:first-child{
					padding-top: 0;
				}
			}
			clear: both;
		}
		.blocks_md_wa{
			border-bottom: 2px solid #e2e2e2;
			border-top: 2px solid #e2e2e2;
			padding: 1rem 1rem;
			margin-bottom: 1rem;
			span{
				display: block;
				font-family: @fira;
				font-size: 16px;
				font-weight: 500;
				color: #182152;
			}
			a{
				font-size: 19px;
				font-weight: 700;
				color: #182152;
			}
			a:hover,
			a:focus{
				text-decoration: none;
				color: #182152;
			}
		}
		.socmeds-menu-left{
			a{
				i.fa{
					color: #00358d;
					font-size: 17px;
				}
			}
			a:hover,
			a:focus{
				text-decoration: none;
				color: #000;
				font-size: 17px;
			}
			padding-left: 1rem;
		}
		clear: both;
	}

}
@-webkit-keyframes slide {
    100% { left: 0; }
}

@keyframes slide {
    100% { left: 0; }
}



#myCarousel_home.carousel{
	.carousel-inner{

		.carousel-caption.caption-slider-home{
			.bxsl_tx_fcs{
				.content{
					.hds_logo{
						img{}
					}
					p, h2, h4{
						font-family: @fira;
					}
					p{
						font-size: 15px;
						font-weight: 500;
						color: #182152;
						display: block;
						padding-bottom: 0.7rem;
					}
					h2{
						font-size: 34px;
						font-weight: 700;
						color: #182152;
						display: block;
						line-height: 1;
						padding-bottom: 0.7rem;
					}
					h4{
						font-size: 26px;
						font-weight: 700;
						color: #c89700;
						display: block;
						line-height: 1;
					}

					a.btns_more_fcs{
						background-color: transparent;
						border: 2px solid #182152;

						font-size: 12px;
						font-weight: 700;
						color: #182152;
						letter-spacing: 1px;

						border-radius: 15px;
						padding-left: 1.2rem;
						padding-right: 1.2rem;
					}
				}
			}
			bottom: inherit;
			left: 0%;
			top: 0px;
			padding-left: 2rem;
		}
	}
}

.blocks_bottomn_scroll_fcs{
	position: absolute;
	bottom: 0px;
	left: 0px;
	z-index: 300;

	width: 100%;
	height: 10%;
	padding-bottom: 1rem;
	text-align: center;

	.nx_btn{
		a:hover,
		a:focus{
			img{
				opacity: 0.9;
			}
		}
		clear: both;
	}
}

.fcs-wrapper.outers_fcs_wrapper{
	position: relative;
}

.blocks_bottomn_wa_fcs{

	position: absolute;
	bottom: 0px;
	right: 0px;
	z-index: 300;

	float: right;
	width: 18%;
	height: 20%;
	padding-bottom: 1rem;
	padding-right: 1rem;
	text-align: center;

	.nx_btn{
		a:hover,
		a:focus{
			img{
				opacity: 0.95;
			}
		}
		clear: both;
	}
}

.home-sec-4{
	min-height: 650px;
}

footer.foot{
	position: relative;
	.lefts_cont{
		padding-top: 80px;
		.lgo{
			img{}
			padding-bottom: 1rem;
		}
		clear: both;
		.blocks_menu{
			padding: 0.7rem 0;
			border-top: 2px solid #e2e2e2;
			border-bottom: 2px solid #e2e2e2;
			ul{
				li{
					a{
						font-family: @fira;
						font-size: 14px;
						font-weight: 700;
						color: #2f2f2f;
					}
				}
				clear: both;
				margin: 0;
			}
			clear: both;
		}

		.blocks_socmed{
			padding: 0.7rem 0;
			p{
				span{
					font-family: @fira;
					font-size: 14px;
					font-weight: 700;
					color: #2f2f2f;
				}
				a{
					color: #2f2f2f;
					text-decoration: none;
					i.fa{
						color: #2f2f2f;
					}
				}
				font-family: @fira;
				font-size: 14px;
				font-weight: 400;
				color: #2f2f2f;
			}
			border-bottom: 2px solid #e2e2e2;
			margin-bottom: 4.5rem;
		}

		clear: both;
	}

	.pc_banner{
		img{}
	}

	.blocks_copyrightsBtm{
		p{
			font-size: 12px;
			font-weight: 400;
			color: rgba(47,47,47, 0.5);
			a{
				font-size: 12px;
				font-weight: 400;
				color: rgba(47,47,47, 0.5);
				text-decoration: none;
			}
		}

		position: absolute;
		left: 0px;
		bottom: 25px;
	}
	clear: both;
}

.prelatife{
	position: relative;
}

.insides_wrapper_pagein{
    padding-bottom: 0;
    padding-left: 72px;
    .prelatife.container{
    	padding-left: 50px;
    	padding-right: 50px;
    }
    background-color: #fff;
}

.insides_wrapper_pagein.blog_pg_detail{
	background: url('../images/tops_pg_blogdet.jpg') top right no-repeat;
}
.insides_wrapper_pagein.blog_pg{
	background: url('../images/tops_pg_blognrights.jpg') top right no-repeat;
}
.insides_wrapper_pagein.contact_pg{
	background:#e0e6ed url('../images/tops_pg_contact.jpg') top right no-repeat;
}
.insides_wrapper_pagein.pg_reference{
	background:#fff url('../images/ill-prj-referencess.jpg') top right no-repeat;	
}
.insides_wrapper_pagein.freight_pg{
	background:#fff url('../images/ill-freights_for.jpg') top right no-repeat;	
}
.insides_wrapper_pagein.custompg{
	background:#f2f2f2 url('../images/custom-clearance_02.jpg') top right no-repeat;
}

.insides_wrapper_pagein.custompg,
.insides_wrapper_pagein.freight_pg,
.insides_wrapper_pagein.pg_reference,
.insides_wrapper_pagein.contact_pg,
.insides_wrapper_pagein.blog_pg_detail,
.insides_wrapper_pagein.blog_pg{
	.topspage_inside{
		.insides{
			.block-content{
				.inners_logo{
					img{}
				}
				h2, h3{
					display: block;
					margin: 0; padding: 0; line-height: 1.2;
				}
				h2{
					display: block;
					font-size: 15px;
					font-weight: 500;
					color: #182152;
					padding-bottom: 1rem;
				}
				h3{
					font-size: 33px;
					font-weight: 700;
					color: #182152;
				}


				nav{
					ul{
						margin: 0; padding: 0;
						li.page-item{
							a.page-link{
								font-size: 15px;
								font-weight: 600;
								color: #6b6b6b;
								border: 0px;
								text-align: center;
								background-color: transparent;
							}
							font-weight: 600;
							font-size: 15px;
							color: #6b6b6b;
							text-align: center;
						}
						li.page-item.active{
							a{
								background-color: transparent;
								border: 1px solid #021f4e;
								border-radius: 50%;
							}
						}
					}
					margin: 0; padding: 0;
					clear: both;
				}

				.contentes_detail{
					ol li,
					ul li{
						font-size: 18px; font-weight: 300;
						color: #474747;	
					}
					p{
						font-size: 18px; font-weight: 300;
						color: #474747;
						line-height: 1.4;
						margin-bottom: 1.7rem;
					}
				}

				clear: both;
			}
			clear: both;
		}
	}
	.content-text{
		
	}
	clear: both;
}

.buttons_all_artikel{
	a.btmores_article{
		font-size: 16px;
		font-weight: 600;
		color: #6b6b6b;
	}
}

section.home-sec-4.insideshome_4{
	padding-top: 0;
	min-height: 396px;
}
section.home-sec-4 .box-content{
	padding-bottom: 35px;
}

 // list blog
.outers_list_def_articles{

	.items{
		.picture{
			img{}
			padding-bottom: 20px;
		}
		.texts{
			h6, p{
				display: block;
				margin: 0;
				padding: 0;
			}
			h6{
				font-size: 18px;
				font-weight: 700;
				color: #182152;
				line-height: 1.2;
				padding-bottom: 0.4rem;
			}
			p{
				font-size: 16px; font-weight: 300;
				color: #474747;
			}
			.hg_ful{
				height: 75px;
				overflow: hidden;
			}
			a.bt_moreblog{
				text-transform: uppercase;
				letter-spacing: 1px;
				font-size: 12px;
				font-weight: 700;
				color: #182152;
				padding: 0;
			}
			clear: both;
		}
		padding-bottom: 2rem;
	}

	clear: both;
}

.insides_wrapper_pagein.pg_about{
	.cover_inside{
		background:#e0e6ed url('../images/tops_illp_about.jpg') top right no-repeat;
		.insides{
			clear: both;
		}
	}
	clear: both;
}

.content-text{
	h1, h2, h3, h4, h5{
		display: block;
		margin: 0; padding: 0;
		// margin-bottom: 1.6rem;
		line-height: 1.3;
	}
	h5{
		font-size: 26px;
		font-weight: 700;
		color: #c89700;
		margin-bottom: 1.6rem;
		text-transform: uppercase;
	}
	h2{
		font-size: 15px;
		font-weight: 500;
		color: #182152;
		margin-bottom: 0.2rem;
	}
	h3{
		font-size: 33px;
		font-weight: 700;
		color: #182152;
		margin-bottom: 0.5rem;
	}
	
	ol li,
	ul li{
		font-size: 17px;
		font-weight: 300; color: #474747;
	}
	p{
		font-size: 17px;
		font-weight: 300; color: #474747;
		line-height: 1.4;
		margin-bottom: 1.5rem;	
	}
}
.freight_cont.content-text{
	h3{
		margin-bottom: 1.3rem !important;
	}
}
.setcontent.content-text{
	h3{
		margin-bottom: 1.4rem;
	}
	p{
		margin-bottom: 1.5rem;
	}
}

.full_custom{
}
.blocking-custom.top-custom{
	.inners_text{
		.ts_text{
			p{
				font-size: 17px;
				font-weight: 700;
				color: #182152; line-height: 1.4;
			}
			clear: both;
		}
	}
	.banners_pict{
		ul{
			margin: 0; padding: 0;
			li{
				padding: 0px;
				margin: 0;
				img{}
				float: left;
				max-width: 33.3%;
				padding-right: 1px;
			}
			li.last{
				// padding-right: 0;
			}
		}
	}
}

.blocking-custom.top-custom.full_custom2{
	position: relative;

	.pons_abos_full{
		position: absolute;
		bottom: 0px;
		left: 0px;
		width: 100%;
		z-index: 150;
		.inners{
			padding: 0 0.3rem;
		}
		.borders{
			border-right: 1px solid #dadada;
		}
		h3{
			font-size: 33px;
			font-weight: 700;
			color: #182152;
			display: block;
			margin-bottom: 0.7rem;
		}
		p{
			font-size: 17px;
			font-weight: 300;
			color: #474747;
			line-height: 1.4;
		}
		ol li,
		ul li{
			font-size: 17px;
			font-weight: 300;
			color: #474747;
		}
	}
	clear: both;
}

.box-content-contact{
	h6{
		font-size: 18px;
		font-weight: 700;
		color: #ac8a01;
		line-height: 1;
	}
	.nx_box_adress{
		max-width: 345px;
		i.fa{
			color: #474747;
			font-weight: 700;
		}
		p{
			font-size: 17px;
			font-weight: 300;
			color: #474747;
			line-height: 1.3;
		}
		a{
			font-size: 15px;
			font-weight: 300;
			color: #474747;
			text-decoration: underline;
		}
	}
}
.bloc-h200{
	height: 178px;
}

section.blocks2-bottomcontact{
	background-color: #fff;
	.images{
		position: relative;
		right: -50px;
	}
	form{
		padding-top: 40px;
		.form-group{
			label{
				font-size: 15px;
				font-weight: 600;
				color: #474747;
				text-transform: uppercase;
				letter-spacing: 1px;
			}
			textarea{
				font-size: 14px;
				font-weight: 300;
				padding-top: 0.5rem;
				padding-bottom: 0.5rem;
				border: 1px solid #a4a4a4;
			}
			input{
				padding-top: 0.5rem;
				padding-bottom: 0.5rem;
				font-size: 14px;
				font-weight: 300;
				border: 1px solid #a4a4a4;
			}
		}
		button.btns_submit{
			color: #182152;
			font-size: 12px;
			font-weight: 700;
			text-transform: uppercase;
			letter-spacing: 1px;
			background-color: transparent;
			border: 2px solid #182152;
			padding-left: 2.2rem;
			padding-right: 2.2rem;
			padding-top: 0.4rem;
			padding-bottom: 0.4rem;
			border-radius: 20px;
		}
		clear: both;
	}
	padding-bottom: 7rem;
}

section.form-sec-2{
	background: url('../images/backs_form_seccontact_2.jpg') no-repeat;
	width: 100%;
	// height: 275px;
	height: 239px;
	position: relative;
	z-index: 5;
	.insides_row{
		h3{
			font-size: 20px;
			font-weight: 700;
			color: #fff;
			a{
				font-size: 19px;
				color: #fff; text-decoration: none;
			}
		}
		clear: both;
	}
	clear: both;
}

.outers_list_freight_forwar{
	.box-content{
		.images{
			img{}
		}
		h4{
			font-size: 25px;
			font-weight: 700; color: #182152;
			display: block;
			margin-top: 1rem;
			margin-bottom: 0.8rem;
		}
		p{
			font-size: 17px;
			font-weight: 300;
			color: #474747;
			line-height: 1.4;
		}
		margin-bottom: 1.5rem;
		clear: both;
	}
	clear: both;
}

section.home-sec-2.insides_pg{
	padding-top: 70px;
}
ul.lists_proj_client{
	li{
		text-align: center;
		img{

		}
		width: 16.3%;
		padding-bottom: 0.8rem;
		margin-right: 0 !important;
	}
}


@media (min-width: 1200px){
	
	.container {
	     max-width: inherit; 
	}

}